<body class="redes">
    <footer>
    <a href="https://www.facebook.com/steven.gomezjimenez">
        <img src="../../../assets/facebook.png" alt="" width="50" height="50">
    </a>

    <a href="https://www.instagram.com/stev.gomezj/">
        <img src="../../../assets/instagram.png" alt="" width="50" height="50">
    </a>
    </footer>
</body>
