<div class="foto">
  <img src="../../../assets/foto.jpeg" alt="" srcset="" width="300" height="300">
</div>

<div class="info">
  <b>INFORMACION:</b>
  <p>Gomez Jimenez Steven 
                <br>
                  Carrera: Ingenieria En Sistemas Computacionales
                <br>
                  Escuela: Intituto Tecnologico De Cuautla
                <br>
                  Semestre: 8
                <br>
                  Numero De Control: 19680157
                <br>
                  Grupo: 3
                <br>
                  Edad: 21
                <br></p>
                  




</div>
